:root {
    --columns: 1;
    --gap-h: 35px;
    --gap-v: 45px;
  
  }
  
  @media (min-width: 550px) {
    :root {
      --gap-h: 60px;
    }
  }
  
  @media (min-width: 700px) {
    :root {
      --columns: 2;
      --gap-h: 0px;
  
    }
  }
  
  @media (min-width: 1024px) {
    :root {
      --columns: 3;
      --gap-h: 20px;
    }
  }
  
  @media (min-width: 1440px) {
    :root {
      --columns: 5;
      --gap-h: 30px;
      --gap-v: 50px;
    }
  }
  